<!-- CSS -->
<style>
    .grid-cinemas-area {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 8px 8px;
        padding: 20px 0px 0px 40px;
        width: auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
        list-style: none;
        border-bottom-style:double;
        border-color: white;
    }

    #cinemas-area{
        width: 100%;
    }

    .grid-cinemas-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 8px 8px;
        padding: 10px 0px 40px 40px;
        font-weight: bold;
        font-size: 15px;
        list-style: none;
    }

    .active,
    span:hover {  
        cursor: pointer;  
        color: red;

    }


    div.container {
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        background-image: url();
        width: 1024px;
        background-color:gray;
        
    }

    .grid-cinemas-area span{
        margin-left: 20px;
    }

    label{
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        color: white;
        border-bottom-style:double;
        border-color: white;
    }

</style>

<!-- JavaScript -->
<script>
    function resetCinemaList(clName) {
        let list = document.getElementsByClassName(clName);
        for (let i = 0; i < list.length; i++) {
            if (list[i].style.display === 'block') {
                list[i].style.display = 'none';
            }
        }
    }

    function spanActive() {
        let span = document.getElementById("cinemas-area").getElementsByClassName("span");

        for (let i = 0; i < span.length; i++) {
            span[i].addEventListener("click", function () {
                let current = document.getElementsByClassName("span active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    }

    let listSpanActive = [];
    function clickOnCinemaArea(clName) {
        spanActive();
        let list = document.getElementsByClassName(clName);
        for (let i = 0; i < list.length; i++) {
            if (list[i].style.display === 'none') {
                list[i].style.display = 'block';
            }
        }

        listSpanActive.push(clName);
        if(clName != listSpanActive[listSpanActive.length - 2]){
            resetCinemaList(listSpanActive[listSpanActive.length - 2]);
        }
    }
</script>

<div class="container">
    <div>
        <label class="cinema-name">CGV CINEMAS</label>
    </div>
    <div id="cinemas-area" >
        <ul class="grid-cinemas-area">
            <% for (let i = 0; i < cinemaComplexs.length; i++) { %>
                <a style="text-decoration: none;" href="<%= cinemaComplexs[i].ID %>" >
                    <li>
                        <span id="cgv_city_<%= cinemaComplexs[i].ID %>" class="span" ><%= cinemaComplexs[i].Ten %></span>
                    </li>   
                </a>
                 
            <% } %>
        </ul>
    </div>

    <div id="cinemas-list">
        <ul class="grid-cinemas-list">
            <% for (let i = 0; i < cinemaList.length; i++) { %>
                <a style="text-decoration: none;" href="/phimdangchieu?rap=<%= cinemaList[i].ID %>" >
                    <li class="cgv_city_1">
                        <span id="<%= cinemaList[i].ID %>"><%= cinemaList[i].Ten %></span>
                    </li>  
                </a>               
            <% } %>     
        </ul>
    </div>
</div>