<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script
    src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
<script
    src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
<script
    src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
<meta charset='UTF-8'>
<meta name="robots" content="noindex">
<link rel="shortcut icon" type="image/x-icon"
    href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
<link rel="mask-icon" type=""
    href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
    color="#111" />
<link rel="canonical"
    href="https://codepen.io/ryanparag/pen/LLrVbo?depth=everything&order=popularity&page=10&q=movie&show_forks=false" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<style class="cp-pen-styles">
    @import url("https://fonts.googleapis.com/css?family=Arimo:400,700");

    body {
        height: 100%;
        width: 100%;
        background: #e9e9e9;
        font-family: 'Arimo', Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #010b26;
    }

    * {
        -webkit-transition: 300ms;
        transition: 300ms;
    }

    .intro {
        text-align: center;
    }

    ul {
        list-style-type: none;
    }

    h1,
    h2,
    h4,
    h5,
    p {
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: #6ABCEA;
    }

    h5 {
        font-weight: 700;
    }

    .container-list-movie {
        display: -webkit-box;
        display: -ms-flexbox;
        display: grid;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 100%;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 150px;
        padding-bottom: 100px;
    }


    .movie-card {
        background: rgb(3, 32, 85);
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 230px;
        margin-left: 16px;
        margin-bottom: 32px;
        border-radius: 10px;
        display: inline-block;
    }

    .movie-header {
        padding: 0;
        margin: 0;
        height: 260px;
        width: 100%;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .header-icon-container {
        position: relative;
    }

    .movie-card:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
    }

    .movie-content {
        padding: 0px 10px 10px 10px;
        margin: 0;
        height: 210px;
    }

    .movie-content-header {
        height: 80px;
    }

    .movie-content-header,
    .movie-price,
    .movie-info {
        display: table;
        width: 100%;
    }

    .movie-title {
        text-transform: uppercase;
        color: white;
    }

    .movie-info {
        margin-top: 0em;
    }

    .info-section {
        display: table-cell;
        text-transform: uppercase;
        text-align: center;
    }

    .info-section:first-of-type {
        text-align: left;
    }

    .info-section:last-of-type {
        text-align: right;
    }

    .info-section label {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: -0.5em;
        font-size: 10px;
    }


    .info-section span {
        font-weight: 1000;
        font-size: 11px;
    }

    .price-section label {
        display: inline-table;
        color: rgba(0, 0, 0, 0.5);
        margin: 5px 5px;
        font-size: 16px;
    }

    .price-section span {
        font-weight: 700;
        font-size: 18px;
        margin: 8px 8px;
        color: crimson;
    }

    .price-section {
        display: block;
        text-transform: uppercase;
        text-align: center;
        height: 40px;
    }


    .container-list-movie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 80%;
    }


    .img-poster {
        width: 230px;
        height: 270px;
        border-radius: 10px 10px 0px 0px;
        background-size: cover;
    }

    .container-list-movie:before,
    .container-list-movie:after {
        display: none;
    }

    #buyticket {
        height: 30px;
        width: 100%;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: red;
        text-align: center;
        color: white;
    }

    #buyticket:hover {
        background-color: white;
        color: red;
    }

</style>


<!DOCTYPE html>
<html lang="en"
    class=" sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./movie-list/bootstrap.min.css">
    <link rel="stylesheet" href="./movie-list/all.min.css">
    <link rel="stylesheet" href="./movie-list/animate.css">
    <link rel="stylesheet" href="./movie-list/flaticon.css">
    <link rel="stylesheet" href="./movie-list/magnific-popup.css">
    <link rel="stylesheet" href="./movie-list/odometer.css">
    <link rel="stylesheet" href="./movie-list/owl.carousel.min.css">
    <link rel="stylesheet" href="./movie-list/owl.theme.default.min.css">
    <link rel="stylesheet" href="./movie-list/nice-select.css">
    <link rel="stylesheet" href="./movie-list/main.css">

    <link rel="shortcut icon" href="http://pixner.net/boleto/demo/assets/images/favicon.png" type="image/x-icon">



    <title>Boleto - Online Ticket Booking Website HTML Template</title>

</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader" style="display: none;">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="http://pixner.net/boleto/demo/movie-list.html#0" class="scrollToTop active">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->


    <section class="container-list-movie">
        <% for (let i=0; i < showTimeList.length; i++) { %>
            <div>
                <div class="movie-card">
                    <!--movie-header-->
                    <a href="/chi-tiet-phim">
                        <div class="movie-header">
                            <div class="header-icon-container">
                                <img class="img-poster" src="<%= showTimeList[i].Poster %>" alt="">
                            </div>
                        </div>
                        <!--movie-content-->
                        <div class="movie-content">
                            <div class="movie-content-header">
                                <a href="#">
                                    <h5 class="movie-title">
                                        <%= showTimeList[i].Ten %>
                                    </h5>
                                </a>
                            </div>
                            <div class="movie-info">
                                <!--the loai-->
                                <div class="info-section">
                                    <label>Thể Loại</label>
                                    <span>Hành Động</span>
                                </div>
                                <!--ngay khoi chieu-->
                                <div class="info-section">
                                    <label>Khởi Chiếu</label>
                                    <span>
                                        <%= showTimeList[i].NgayCongChieu %>
                                    </span>
                                </div>
                                <!--Thoi luong phim-->
                                <div class="info-section">
                                    <label>Thời Lượng</label>
                                    <span>
                                        <%= showTimeList[i].ThoiLuong %>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="movie-price">
                                
                                <div class="price-section">
                                    <label>Giá Vé</label>
                                    <span>
                                        <%= showTimeList[i].GiaVe %> VNĐ
                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </a>

                    <!-- button-buy -->
                    <form method="GET" action="/datve">
                        <input type="hidden" name="rap" value="<%= showTimeList[i].IDRap %>" />
                        <input type="hidden" name="phim" value="<%= showTimeList[i].IDPhim %>" />
                        <button id="buyticket" type="submit" onclick="bookingTicket()">Mua Vé</button>
                    </form>

                </div>
            </div>
            <% } %>
    </section>
    <!-- ==========Movie-Section========== -->

    <!-- ==========Newslater-Section========== -->
    <footer class="footer-section">
        <div class="newslater-section padding-bottom">
            <div class="container">
                <div class="newslater-container bg_img" data-background="./assets/images/newslater/newslater-bg01.jpg"
                    style="background-image: url(&quot;./assets/images/newslater/newslater-bg01.jpg&quot;);">
                    <div class="newslater-wrapper">
                        <h5 class="cate">subscribe to Boleto </h5>
                        <h3 class="title">to get exclusive benifits</h3>
                        <form class="newslater-form">
                            <input type="text" placeholder="Your Email Address">
                            <button type="submit">subscribe</button>
                        </form>
                        <p>We respect your privacy, so we never share your info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="http://pixner.net/boleto/demo/index-1.html">
                        <img src="./movie-list/footer-logo.png" alt="footer">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="http://pixner.net/boleto/demo/movie-list.html#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://pixner.net/boleto/demo/movie-list.html#0" class="active">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://pixner.net/boleto/demo/movie-list.html#0">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://pixner.net/boleto/demo/movie-list.html#0">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://pixner.net/boleto/demo/movie-list.html#0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>Copyright © 2020.All Rights Reserved By <a
                                href="http://pixner.net/boleto/demo/movie-list.html#0">Boleto </a></p>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="http://pixner.net/boleto/demo/movie-list.html#0">About</a>
                        </li>
                        <li>
                            <a href="http://pixner.net/boleto/demo/movie-list.html#0">Terms Of Use</a>
                        </li>
                        <li>
                            <a href="http://pixner.net/boleto/demo/movie-list.html#0">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="http://pixner.net/boleto/demo/movie-list.html#0">FAQ</a>
                        </li>
                        <li>
                            <a href="http://pixner.net/boleto/demo/movie-list.html#0">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==========Newslater-Section========== -->


    <script src="./movie-list/jquery-3.3.1.min.js"></script>
    <script src="./movie-list/modernizr-3.6.0.min.js"></script>
    <script src="./movie-list/plugins.js"></script>
    <script src="./movie-list/bootstrap.min.js"></script>
    <script src="./movie-list/isotope.pkgd.min.js"></script>
    <script src="./movie-list/magnific-popup.min.js"></script>
    <script src="./movie-list/owl.carousel.min.js"></script>
    <script src="./movie-list/wow.min.js"></script>
    <script src="./movie-list/countdown.min.js"></script>
    <script src="./movie-list/odometer.min.js"></script>
    <script src="./movie-list/viewport.jquery.js"></script>
    <script src="./movie-list/nice-select.js"></script>
    <script src="./movie-list/main.js"></script>


</body>
<div style="position: absolute; top: 0px;"></div>

</html>